{% assign content = site.data.content['blog'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Section - Blog -->
<section class="lui-section lui-gradient-top" id="blog-section">

  <!-- Heading -->
  <div class="lui-heading">
    <div class="container">

      <div class="m-titles align-center">
        <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span>{{ content.title }}</span>
        </h2>
        <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span>{{ content.subtitle }}</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Archive -->
  <div class="v-line v-line-right">
    <div class="container">

      <div class="blog-items row">
        {% for post in site.posts limit:3 %}
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="image">
              <a href="{{ post.url }}">
                <img decoding="async" src="{{ post.image | relative_url }}" alt="{{ post.title }}" />
              </a>
            </div>
            <div class="desc">
              <div class="category lui-subtitle">
                <span>{{ post.date | date: site.date_format }}</span>
              </div>
              <h5 class="lui-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h5>
              <div class="lui-text">
                <p>{{ post.content | markdownify | strip_html | truncate: 160 }}</p>
                <div class="readmore">
                  <a href="{{ post.url }}" class="lnk">{{ ui_text.read_more }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="load-more">
        <a href="{{ content.button.link }}" class="btn scrolla-element-anim-1 scroll-animate" data-animate="active">
          <span>{{ content.button.label }}</span>
        </a>
      </div>

      <div class="lui-bgtitle">
        <span>{{ content.bg_title }}</span>
      </div>

    </div>
  </div>

</section>
