{% assign content = site.data.content['contacts'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Section - Contacts -->
<section class="lui-section lui-gradient-bottom" id="contact-section">

  <!-- Heading -->
  <div class="lui-heading">
    <div class="container">

      <div class="m-titles align-center">
        <h2 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span>{{ content.title }}</span>
        </h2>
        <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
          <span>{{ content.subtitle }}</span>
        </div>
      </div>

    </div>
  </div>

  <!-- Contact -->
  <div class="lui-contacts v-line v-line-left">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">

          <div class="numbers-items">
            {% for item in content.list %}
            <div class="numbers-item scrolla-element-anim-1 scroll-animate" data-animate="active">
              <div class="icon">
                <i aria-hidden="true" class="{{ item.icon }}"></i>
              </div>
              <div class="title">
                <span>{{ item.label }}</span>
              </div>
              <div class="lui-text">
                <span>{{ item.text }}</span>
              </div>
            </div>
            {% endfor %}
          </div>

        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">

          <div class="contacts-form scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="bg-img" style="background-image: url(assets/images/pat-1.png);"></div>
            <div class="contacts-form">
              <form id="cform" action="{{ site.formspree_endpoint }}" method="post">
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="group">
                      <label>
                        {{ ui_text.your_full_name }} <b>*</b>
                        <input type="text" name="name" >
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="group">
                      <label>
                        {{ ui_text.your_email_address }} <b>*</b>
                        <input type="email" name="email" >
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="group">
                      <label>
                        {{ ui_text.your_subject }} <b>*</b>
                        <input type="text" name="subject" >
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="group">
                      <label>
                        {{ ui_text.your_message }} <b>*</b>
                        <textarea name="message"></textarea>
                      </label>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 align-right">
                    <div class="terms-label">{{ ui_text.accept_terms }}</div>
                    <a href="#" class="btn" onclick="$('#cform').submit(); return false;">
                      <span>{{ ui_text.send_message }}</span>
                    </a>
                  </div>
                </div>
              </form>
              <div class="alert-success" id="formAlertSuccess" style="display: none;">
                <p>{{ ui_text.thanks_message }}</p>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div class="lui-bgtitle">
        <span>{{ content.bg_title }}</span>
      </div>

    </div>
  </div>

</section>
