---
layout: default
---

{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Section Started Heading -->
<section class="section section-inner started-heading">
  <div class="container">

    <!-- Heading -->
    <div class="m-titles align-center">
      <h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
        <span>{{ ui_text.archive }}: {{ page.title }}</span>
      </h1>
      <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
        <span>{{ ui_text.latest_posts }}</span>
      </div>
    </div>

  </div>
</section>

<!-- Section - Blog -->
<div class="section section-inner m-archive">
  <div class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">

        <!-- Blog Items -->
        <div class="articles-container">
          {% for post in page.posts %}
          <div class="archive-item scrolla-element-anim-1 scroll-animate" data-animate="active">
            <div class="image">
              <a href="{{ post.url }}">
                <img src="{{ post.image | relative_url }}" alt="{{ post.title }}" loading="lazy">
              </a>
            </div>
            <div class="desc">
              <div class="category lui-subtitle">
                <span>{{ post.date | date: site.date_format }}</span>
              </div>
              <h5 class="lui-title">
                <a href="{{ post.url }}">{{ post.title }}</a>
              </h5>
              <div class="lui-text">
                <p>{{ post.excerpt }}</p>

                <div class="readmore">
                  <a href="{{ post.url }}" class="lnk">{{ ui_text.read_more }}</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        {%- include sidebar.html -%}
      </div>
    </div>

    <div class="v-line-left v-line-top"><div class="v-line-block"><span></span></div></div>

  </div>
</div>
