---
layout: default
---


{% assign ui_text = site.data.ui-text['ui_text'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}
{% assign categories = site.data.settings['portfolio'] %}

<!-- Section Started Heading -->
<section class="section section-inner started-heading">
  <div class="container">

    <!-- Heading -->
    <div class="m-titles align-center">
      <h1 class="m-title splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
        <span>{{ page.title }}</span>
      </h1>
      <div class="m-subtitle splitting-text-anim-1 scroll-animate" data-splitting="words" data-animate="active">
        <span>{{ ui_text.works_subtitle }}</span>
      </div>
    </div>

  </div>
</section>

<!-- Section - Works -->
<section class="lui-section">

  <!-- Works -->
  <div class="v-line v-line-right v-line-top">
    <div class="container">
      <ul>
        {% for work in site.works %}
          {% if work.location_slug == "romania" %}
            <li>
              <h3>{{ work.title }}</h3>
              <p>{{ work.short_description }}</p>
            </li>
          {% endif %}
        {% endfor %}
        </ul>      
    </div>
      <div class="lui-bgtitle">
        <span>{{ ui_text.works_bg_title }}</span>
      </div>

    </div>
  </div>

</section>
